.footer__link-list {
  margin-bottom: 32px;
}

.footer__link-list:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .footer__link-list {
    margin-bottom: 0;
    margin-right: 18px;
  }

  .footer__link-list:last-of-type {
    margin-right: 0;
  }
}