.lead__title {
	margin: 0;
	padding: 0;
	color: white;
	font-weight: 900;
	max-width: 720px;
	text-align: center;
}

@media screen and (min-width: 1025px) {
  .lead__title {
		line-height: 1.1;
		font-size: 96px;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .lead__title {
		line-height: 1;
		width: 100%;
		font-size: 100%;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
		line-height: 1;
		font-size: 40px;
  }
}