.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  height: 100%;
}
