.place__title {
  margin: 0;
  padding: 0;
  width: 100%;
  grid-row: span 1;
  grid-column: span 1;

  color: #fff;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.12;
  /* border: 1px solid wheat; */
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    font-size: 32px;
  }
}

