.place__website {
  display: none;
  width: 100%;
}

@media (min-width: 768px) {
  .place__website {
    margin-right: 12px;
    box-sizing: border-box;
    display: inline-block;
    align-self: flex-end;
    order: 2;
    margin-bottom: 48px;
  }
}
