.places {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 984px;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
  .places {
    padding: 88px 24px 0 24px;
  }
}

@media (min-width: 1024px) {
  .places {
    padding: 98px 48px 0 48px;
  }
}