.place__image {
  width: 100%;
  object-fit: contain;
  object-position: top;
  padding-bottom: 29px;
}

/* @media screen and (max-width: 700px) {
  .place__image {
    max-width: 100%;
  }
} */

@media (min-width: 768px) {
  .place__image {
    padding-bottom: 0;
    max-width: calc(319vw / 720 * 100);
    order: 3;
  }
}
