.lead {
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 56px;
	max-width: 984px;
}

@media screen and (min-width: 1024) {
	.lead__image {
			max-width: 984px;
	}
}

@media screen and (max-width: 1024px) {
	.lead__image {
			max-width: 928px;
	}
}