.lead__title {
	margin: 0;
	padding: 0;
	min-width: 288px;
	color: white;
	font-size: 40px;
	line-height: 1.1;
	font-weight: 900;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

