.place__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;

  color: #fff;
  font-size: 16px;
  line-height: calc(26 / 16);
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: calc(29 / 18);
  }
}