.lead__subtitle {
	margin: 0 auto;
	padding: 16px 16px 40px 16px;
	max-width: 640px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: calc(20 / 16);
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px) {
	.lead__subtitle {
		font-size: 30px;
		line-height: calc(36 / 30);
		padding: 32px 64px 56px 64px;
	}
}

/* @media screen and (min-width: 1025px) {
  .lead__subtitle {
		margin-top: 23px;
		margin-bottom: 66px;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .lead__subtitle {
		margin-top: 31px;
		margin-bottom: 60px;
  }
}

@media screen and (max-width: 425px) {
  .lead__subtitle {
		margin-top: 23px;
		margin-bottom: 42px;
		font-size: 16px;
  }
} */