.cover {
  margin: 0 auto;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  max-width: 1198px;
  max-height: 720px;
  padding-bottom: 62.5%;
  position: relative;
}

.cover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  opacity: .3;

  transition: opacity linear .3s;
}

.cover:hover::before {
  opacity: .8;
}