.place__link {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  color: #fff;
  font-size: 18px;
  line-height: calc(22 / 18);
  text-decoration: underline;
  transition: opacity .2s linear;
}

.place__link:hover {
  opacity: .8;
}