.place__paragraph {
  margin: 0;
  padding: 0 16px 25px 16px;
  color: #fff;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: calc(26 / 16);
}

.place__paragraph:last-of-type {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .place__paragraph {
    margin-left: -12px;
    padding: 0 0 25px 0;
  }
}

@media (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: calc(29 / 18);
    padding-bottom: 27px;
  }
}
