.lead__caption {
	margin: 0;
	padding: 0;
	padding-left: 16px;
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	align-self: start;
	line-height: calc(14 / 10);
	margin-top: 8px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.lead__caption {
		padding-left: 24px;
	}
}

@media (min-width: 1024px) {
	.lead__caption {
		padding-left: 0;
	}
}
