@media (min-width: 768px) {
  .place-spaces {
    max-width: calc(319vw / 720 * 100);
  }
}

@media (min-width: 1024px) {
  .place-spaces {
    max-width: calc(440vw / 1024 * 100);
  }
}

@media (min-width: 1080px) {
  .place-spaces {
    max-width: 460px;
  }
}
