.cover__title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  max-width: 288px;
  text-align: center;
  color: white;
  font-size: 32px;
  line-height: calc(35 / 32);
  font-weight: 900;

}

@media (min-width: 768px) {
  .cover__title {
    margin-bottom: 32px;
    max-width: 560px;
    font-size: 72px;
    line-height: calc(76 / 72);
  }
}