.cover__title {
  padding: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  margin: -67px -144px 0 0;

  display: block;
  box-sizing: border-box;
  width: 288px;
  text-align: center;
  color: #fff;
  font-size: 32px;
  line-height: calc(35 / 32);
  font-weight: 900;
  z-index: 5;
}

@media (min-width: 768px) {
  .cover__title {
    width: 550px;
    margin: -122px -274px 0 0;
    font-size: 72px;
    line-height: calc(76 / 72);
    
  }
}
