.place {
  margin: auto;
  padding: auto;
  margin-bottom: 80px;
  max-width: 984px;

  display: grid;
  column-gap: 1vw;
  row-gap: 41px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  justify-content: center;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: auto;
  }
}