.place__website {
  display: none;
  border: 1px solid red;
}

@media (min-width: 768px) {
  .place__website {
    display: block;
    align-self: flex-end;
    order: 2;
    margin-bottom: 48px;
    min-width: calc(330vw / 720 * 100);

  }
}
