.intro__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.4;
  margin-bottom: 25px;
}

@media screen and (max-width: 425px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 39px;
  }
}